<div id="container">
  <div id="header">
    <div class="profile_pic">
      <%= image_tag("profile_pic.jpg") %>
    </div>
    <div id="description">
          <h1 class="name"><%= @users.name %></h1>
          <address><%=@users.address.first.city%>, <%=@users.address.first.state%></address>
          <p><%= @users.occupation%></p>
          <p>•	<%=@users.description %></p>
    </div>

    <button id="print">Print</button>
    <button id="toggle">Toggle Collapse</button>
  </div>
    <details id="experience" class="divisions" open>
      <summary>Work History</summary>
      <div class="division_inside">
        <% @experience.each do |e| %>
          <span class= "title"><%= e.title%><br/>
          </span>
          <%= e.company%><br/>
          <tr>
            <td><%= e.address.first.city %>, <%= e.address.first.state %></td>
          </tr>
          <br>
          Description: <br/>
          <div class="inside">
            <p>•	<%= e.description.gsub(/\n/, '<br>').html_safe %></p>
          </div>
          Start Date:<%=e.start.strftime("%B, %Y")%><br/>
          <%if e.end.nil? -%>
            End Date: Current Job<br/>
          <%else%>
            End Date: <%= e.end.strftime("%B, %Y")%><br/>
          <%end%>
          <%unless e.link.nil? -%>
            Link: <%= link_to "Project link", e.link, class: "link"%><br/>
          <%end%>
          <hr>
        <%end %>
      </div>
    </details>
  <div id="project" class="divisions">
    <details> 
      <summary>Projects</summary>
      <div class="division_inside">
        <% @projects.each do |e| %>
          <span class= "title"><%= e.name%><br/>
          </span>
          <p>•	<%=e.description%></p>
          <%unless e.link.nil? -%>
            <br>Link: <%= link_to "Project Link", e.link, class: "link"%><br/>
          <%end%>
          <hr>
        <%end%>
      </div>
    </details>
  </div>

  <div id="education" class="divisions">
    <details> 
      <summary>Education</summary>
      <div class="division_inside">
        <% @education.each do |e| %>
          <span class= "title"><%= e.school%><br/>
          </span>
          <%= e.degree%><br/>
          Field: <%= e.field%><br/>
          Start Year: <%=e.from.strftime("%Y")%><br/>
          End Year: <%=e.to.strftime("%Y")%><br/>
          Grade: 
          <%if e.grade>4.0 -%>
            <%=e.grade%> (on scale of 100)<br/>
          <%else%>
            <%=e.grade%> (on scale of 4.0)<br/>
          <%end%>
          <hr>
        <%end%>
      </div>
    </details>
  </div>
  <div id="honor" class="divisions">
    <details> 
      <summary>Honors and Awards</summary>
      <div class="division_inside">
        <% @awards.each do |e| %>
        <span class= "title"><%= e.title%><br/>
          </span>
          <%= e.issuer%><br/>
          Description:<br/>
          <div class="inside">
           <%= e.description%><br/>
          </div>
          Start Year: <%=e.from.strftime("%Y")%><br/>
          End Year: <%=e.to.strftime("%Y")%><br/>
          <hr>
        <%end%>
      </div>
    </details>
  </div>
</div>
</div>
